 1. What are data structures, and why are they important ?

  Data structures are specialized formats for organizing, processing, and storing data so a computer can easily use it.Data structures are important because they organize, manage, and store data in ways that make it efficient to access and modify.

2. Explain the difference between mutable and immutable data types with examples.

  1.mutable data types: Objects that can be changed after they are created.
Examples in Python:list,dict,set

  2.immutabe data types: Objects that cannot be changed once created. Any operation that seems to modify it will create a new object.
Examples in Python:str, touple

3. What are the main differences between lists and tuples in Python ?

  The main difference between lists and tuples are that list is mutable whereas tuples are immutable.In list we use square brackets[] whereas in tuples we use parenthesis.list have methods like append(),remove.Tuple have methods like count(),index().

4. Describe how dictionaries store data.

  Dictionaries store data in the form of "key" and "value".A dictionary is an unordered, mutable collection of key-value pairs.

  Syntax:-dict_name={"key1"="value1","key2"="value2}

5. Why might you use a set instead of a list in Python ?

   we use a set instead of a list in Python when we need unique elements. Set automatically removes duplicates.List allows duplicates.

6. What is a string in Python, and how is it different from a list ?

  In Python, a string is a sequence of characters used to represent text, while a list is a sequence that can store items of any data type.String is immutable which means objects cannot be changed after creation.

7. How do tuples ensure data integrity in Python ?

  Tuples ensure data integrity in Python mainly through their immutability, meaning once a tuple is created, its contents cannot be changed. This makes them ideal for storing fixed or constant data.

8. What is a hash table, and how does it relate to dictionaries in Python ?

 A hash table is a data structure that stores key-value pairs and provides fast access to values based on their keys using a concept called hashing.In Python, the built-in_dict (dictionary) type is implemented using a hash table.

9.  Can lists contain different data types in Python ?

  Yes, lists in Python can contain different data types. Python lists are heterogeneous, meaning they can store a mix of data types like int,float,string,etc.

10.  Explain why strings are immutable in Python ?

  Strings are immutable in Python because their contents cannot be changed after creation.When you pass a string to a function or assign it to another variable, it can’t be changed.

11. What advantages do dictionaries offer over lists for certain tasks ?

  Dictionaries in Python offer several advantages over lists for specific tasks, especially when it comes to organizing and accessing data efficiently.With dictionaries, you access values using keys (like "name") instead of numerical indexes.In dictionaries, you only need to know the key whereas in lists, you must know the exact index to retrieve a value

12.  Describe a scenario where using a tuple would be preferable over a list.

If we want to store the adhar card number of a person then we can use tuple because adhar card number remains fixed. it cannot be changed.

13.  How do sets handle duplicate values in Python ?

  In Python, a set is a collection that cannot contain duplicate values. When you add duplicates to a set, Python will only keep one copy of each unique item.Sets are built using hash tables, which don't allow duplicate keys.

14.  How does the “in” keyword work differently for lists and dictionaries ?

  The "in" keyword behaves differently for lists and dictionaries.In lists,the in keyword checks whether a value exists in the list.In dictionaries,the in keyword checks whether a key exists in the dictionary (not the value).

15.  Can you modify the elements of a tuple? Explain why or why not?

  No, we cannot modify the elements of a tuple in Python.Tuples are immutable, which means once created, their contents cannot be changed — no adding, removing, or updating elements.

16.  What is a nested dictionary, and give an example of its use case ?

  A nested dictionary is a dictionary inside another dictionary.
It allows you to organize complex data in a structured way — like a table,student record.

17.  Describe the time complexity of accessing elements in a dictionary.

  Accessing an element using a key like dict_name[key] is very fast.Python dictionaries are implemented using hash tables, which allow direct access to a value using its key.

18. In what situations are lists preferred over dictionaries .

  Lists maintain the order of elements.we use lists when we want to access the items by position.Example:-my_list[idx no].Lists support sorting, slicing, and other sequence operations that dictionaries do not.

19.  Why are dictionaries considered unordered, and how does that affect data retrieval ?

  Dictionaries are considered unordered because they use keys, not positions for access. Even though newer versions of Python preserve insertion order, they are still not meant for order-based operations like lists.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.

  A list retrieves data using indexes (numbers starting from 0) whereas dictionary retrieves data using keys.

  A list is in the ordered format whereas dictionaries are in unordered format.

  We use slicing in list whereas in dictionary slicing is not used.

**PRACTICAL QUESTIONS**

1. Write a code to create a string with your name and print it.

In [1]:
my_name = "HARNAKSHI"
print("My name is", my_name)

My name is HARNAKSHI

2.  Write a code to find the length of the string "Hello World".

In [2]:
my_str="Hello World"
print(len(my_str))

11

3.  Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
my_str="Python Programming"
print(my_str[0:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [5]:
my_str="hello"
print(my_str.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [8]:
my_str="i  like apple"
print(my_str.replace("apple","orange"))

i  like orange

6.  Write a code to create a list with numbers 1 to 5 and print it.

In [9]:
my_list=[1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
my_list=[1,2,3,4]
my_list.append(10)
print(my_list)

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [10]:
my_list=[1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [11]:
my_list=['a','b','c','d']
print(my_list[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [13]:
my_list=[10, 20, 30, 40, 50]
print(my_list[::-1])

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [14]:
my_tuple=( 100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [15]:
my_tuple=('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [16]:
my_tuple=(10, 20, 5, 15)
print(min(my_tuple))

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [17]:
my_tuple=('dog', 'cat', 'rabbit')
print(my_tuple.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [21]:
my_tuple=("apple","mango","kiwi")
if my_tuple.count("kiwi"):
  print("yes")
else:
  print("no")

yes

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [22]:
my_set={ 'a', 'b', 'c' }
print(my_set)

{'a', 'b', 'c'}

17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [23]:
my_set={1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [24]:
my_set={1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [25]:
my_set1={1, 2, 3}
my_set2={3, 4, 5}
print(my_set1.union(my_set2))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [26]:
my_set1={1, 2, 3}
my_set2={2, 3, 4}
print(my_set1.intersection(my_set2))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [28]:
my_dict={"names":"Harnakshi","age":19,"city":"Moga"}
print(my_dict)

{'names': 'Harnakshi', 'age': 19, 'city': 'Moga'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [30]:
my_dict={"name":"john","age":25}
my_dict["country"]="USA"
print(my_dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [31]:
my_dict={"name":"Alice","age":30}
my_dict["name"]

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [32]:
my_dict={"name":"Bob","age":22,"city":"New York"}
my_dict.pop("age")
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [36]:
my_dict={"name":"Alice","city":"paris"}
if "city" in my_dict:
  print("yes")
else:
  print("no")

yes

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [37]:
my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [41]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [20, 43, 50, 87, 90]

28. Write a code to create a list with strings and print the element at the third index.

In [42]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print("Element at index 3:", fruits[3])

Element at index 3: date

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'Paris', 'country': 'France'}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

30. Write a code to convert a list of strings into a set.

In [43]:
string_list = ['apple', 'banana', 'cherry', 'apple', 'banana']
string_set = set(string_list)
print("Set of strings:", string_set)

Set of strings: {'banana', 'cherry', 'apple'}