<a href="https://colab.research.google.com/github/Harnakshi/python/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to print "Hello, World!

In [ ]:
print("Hello World!")

Hello World!

2. Write a Python program that displays your name and age.

In [ ]:
print("Name=HARNAKSHI")
print("Age=19")

Name=HARNAKSHI
Age=19

3.Write code to print all the pre-defined keywords in Python using the keyword library

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

4.Write a program that checks if a given word is a Python keyword.

In [ ]:
import keyword
word="while"
if word in keyword.kwlist:
  print(f"'{word}'is a pyhton keyword")
else:
  print(f"'{word}'is not a python keyword")

'while'is a pyhton keyword

 5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
for each.

In [ ]:

list = [10, 20, 30, 40, 50]
tuple = (10, 20, 30, 40, 50)
print("list before modification:", list)
list[1] = 70
print("list after modification:", list)
tuple = (10, 20, 30, 40, 50)
print("tuple before modification:", tuple)
tuple[1]=70
print("tuple after modification:", tuple)




# we cannot change particular elements within a tuple after it has been created. Tuples are immutable, while lists are mutable

list before modification: [10, 20, 30, 40, 50]
list after modification: [10, 70, 30, 40, 50]
tuple before modification: (10, 20, 30, 40, 50)

TypeError: 'tuple' object does not support item assignment

6. Write a function to demonstrate the behavior of mutable and immutable arguments.

In [ ]:
def mutable_immutable(mutable_list, immutable_int):
  print("Inside the function:")
  print("  Original mutable_list:", mutable_list)
  print("  Original immutable_int:", immutable_int)
  mutable_list.append(99)
  print("  Modified mutable_list:", mutable_list)
  immutable_int = immutable_int + 10
  print("  Modified immutable_int:", immutable_int)
my_list = [1, 2, 3]
my_int = 10
print("Before calling the function:")
print("  my_list:", my_list)
print("  my_int:", my_int)
mutable_immutable(my_list, my_int)
print("After calling the function:")
print("  my_list:", my_list)
print("  my_int:", my_int)

Before calling the function:
  my_list: [1, 2, 3]
  my_int: 10
Inside the function:
  Original mutable_list: [1, 2, 3]
  Original immutable_int: 10
  Modified mutable_list: [1, 2, 3, 99]
  Modified immutable_int: 20
After calling the function:
  my_list: [1, 2, 3, 99]
  my_int: 10

7. Write a program that performs basic arithmetic operations on two user-input numbers.

In [ ]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))
print("addition:",a+b)
print("subtraction:",a-b)
print("multiplication:",a*b)
print("division:",a/b)
print("floor division",a//b)

enter first number:12
enter second number:5
addition: 17
subtraction: 7
multiplication: 60
division: 2.4
floor division 2

 8. Write a program to demonstrate the use of logical operators.

In [ ]:
# LOGICAL AND

a=5
b=10
print(a>2 and b<12) # the 'logical and' operator returns 'true' if both conditions are true
print(a>2 and b>12) # the 'logical and' operator returns 'false' if any of the condition becomes false

True
False

In [ ]:
# LOGICAL OR

a=5
b=10
print(a>2 or b<12) # the 'logical or' operator returns 'true' if any one condition is true
print(a<2 or b>12) # the 'logical or' operator returns 'false' if all the conditions are false

True
False

In [ ]:
# LOGICAL NOT

a=5
b=10
print(not b<12) # the 'logical not' operator reverse the boolean value

False

 10. Write code to demonstrate type casting with list elements.

In [ ]:

original_list = ['1', '2', '3', '4', '5']

s
int_list = [int(element) for element in original_list]
print("List with integers:", int_list)

float_list = [float(element) for element in original_list]
print("List with floats:", float_list)


string_list = [str(element) for element in int_list]
print("List with strings:", string_list)

List with integers: [1, 2, 3, 4, 5]
List with floats: [1.0, 2.0, 3.0, 4.0, 5.0]
List with strings: ['1', '2', '3', '4', '5']

11. Write a program that checks if a number is positive, negative, or zero.

In [ ]:
a=int(input("enter a number:"))
if a>0:
  print("number is positive")
elif a<0:
  print("number is negative")
else:
  print("number is zero")

enter a number:-5
number is negative

 12. Write a for loop to print numbers from 1 to 10.

In [ ]:
for i in range(0,10):
  i+=1
  print(i)

1
2
3
4
5
6
7
8
9
10

13. Write a Python program to find the sum of all even numbers between 1 and 50.

In [ ]:
sum_of_evens = 0
for number in range(1, 51):
  if number % 2 == 0:
    sum_of_evens += number
print("The sum of all even numbers between 1 and 50 is:", sum_of_evens)

The sum of all even numbers between 1 and 50 is: 650

 14. Write a program to reverse a string using a while loop.

In [ ]:
original_string = input("Enter a string to reverse: ")
reversed_string = ""
index = len(original_string) - 1
while index >= 0:
    reversed_string += original_string[index]
    index -= 1
print("Reversed string:", reversed_string)

Enter a string to reverse: harnakshi
Reversed string: ihskanrah

15. Write a Python program to calculate the factorial of a number provided by the user using a while loop.

In [ ]:
num = int(input("Enter a non-negative number: "))
factorial = 1
i = 1
while i <= num:
        factorial *= i
        i += 1
print(f"The factorial of {num} is {factorial}.")

Enter a non-negative number: 6
The factorial of 6 is 720.